/* Write your CSS here */

.button {
  color: #ff0b37;
  background-color: #ffffff;
  border-style: solid;
  border-color: #ff0b37;
  border-radius: 5px;
}
.para {
  color: #000000;
}
.list {
  list-style-type: none;
  margin: 10px;
  display: flex;
  flex-direction: row;
  font-family: Roboto;
  justify-content: space-between;
}
